@import 'tailwindcss';
@import 'tailwindcss-animated';

* {
	user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	all: revert;
}

@theme {
	--color-background: #1d0e0e;
	--color-primary: #a92e2e;
	--color-primary-text: #eccccb;
	--color-secondary: #da7171;
	--color-secondary-text: #a07473;
	--color-tert: #981b1a;
}
