@import 'tailwindcss';
@import 'tailwindcss-animated';

* {
	user-select: none;
	color: var(--color-primary-text);
}

@theme {
	--color-accent: #7b2422;
	--color-background: #1d0e0e;
	--color-primary-2: #7b2422;
	--color-primary: #2b0505;
	--color-primary-text: #eccccb;
	--color-secondary: #da7171;
	--color-secondary-text: #a07473;
	--color-tert: #981b1a;
}
